# config.json stores API keys/tokens and other settings used to configure the bot.
config.json
# Google Calendar API: credentials.json stores information regarding application authentication.
credentials.json
# Google Calendar API: token.json stores the user's access and refresh tokens.
token.json

# Ignore local test files
*-test.py